html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title p {
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

ul {
    list-style: none;
    padding: 0 10px;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

select {
    position: absolute;
    right: 0;
}

#pano {
    width: 200px;
    height: 200px;
    float: left;
}


/*remove compass*/

.gm-style .gm-compass-icon,
.gmnoprint,
.gm-iv-address {
    display: none;
}

#search {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: lightskyblue;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
}

#places-search,
#filter {
    display: flex;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 50px;
}

.boxes {
    display: flex;
}

input::placeholder {
    text-align: center;
}

input {
    text-align: center;
}